<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Schemadex</strong>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false">
      Link
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/"
         class="navbar-item {{with eq . "home"}}has-text-primary{{end}}">
        Home
      </a>
      <a href="/about"
         class="navbar-item {{with eq . "about"}}has-text-primary{{end}}">
        About
      </a>
      <a href="https://schema.org/"
         class="navbar-item"
         target="_blank" rel="noopener">
        Schema.org
      </a>
    </div>
    <div class="navbar-end">
      <!-- log in/out goes here? -->
    </div>
  </div>
</nav>
