{{define "page-nav"}}
  {{template "nav.html.tmpl" "home"}}
{{end}}

{{define "content"}}
  <section class="section">
    <div class="container">
      <h1 class="title">Schemadex</h1>
      <h2 class="subtitle">A Schema.org index browser</h2>

      <form action="/" method="GET">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="type">Type</label>
              <div class="control">
                <input
                  class="input" type="text"
                  placeholder="Type" name="type"
                  value={{.Query.Type}}
                  >
              </div>
            </div>

            <div class="field">
              <label class="label" for="type">Domain URL</label>
              <div class="control">
                <input
                  class="input" type="text"
                  placeholder="Type" name="domainURL"
                  value={{.Query.DomainURL}}
                  >
              </div>
            </div>

            <div class="field">
              <label class="label" for="search" style="visibility: hidden;">Search</label>
              <div class="control">
                <button class="button is-primary" name="search">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  {{template "results.html.tmpl" .Results}}
{{end}}
